



<section id="login_container" fxLayout="row" fxFlexFill fxLayoutAlign="space-evenly center">
    <section id="login-left" fxFlex="60%">
 
     </section>
     <section id="login-form" fxFlex fxLayout="row" fxLayoutAlign="center center">
         <mat-card fxLayout="column" fxLayoutAlign="start">
             <mat-card-title>Account Login</mat-card-title>
             <mat-card-content>
                     <form fxLayout ="column" fxLayoutGap ="10px" fxLayoutAlign="start start" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                             <mat-form-field>
                             <input 
                                 type="text" 
                                 matInput 
                                 placeholder="User Name"
                                 formControlName="username"
                                 required>
                             </mat-form-field>
                             <mat-form-field>
                             <input 
                                 type="password" 
                                 matInput 
                                 placeholder="Password"
                                 formControlName="password"
                                 required
                                 minlength="6">
                             </mat-form-field>    
                             <mat-error *ngIf="loginError">{{loginError}}</mat-error>
                             <div fxLayout="row" fxFlex fxLayoutGap="20px" fxLayoutAlign="space-evenly center">
                                 <mat-checkbox>Remember Me</mat-checkbox>
                                 <a href="#">Forgot Password</a>
                             </div>                       
                             
                         
                             <button mat-raised-button color="primary">Login</button>                           
                             
                     </form>
             </mat-card-content>
             
         </mat-card>    
     </section>    
 </section>
 
