<section fxLayout="column" fxFlex="100%" fxLayoutAlign="center" fxLayoutGap ="30px" >
    <section fxLayout fxFlex ="100%" fxLayoutAlign="center">   
        <mat-card fxFlex="500px">
            <mat-card-title></mat-card-title>  
            
                <mat-card-content >      
                        <form [formGroup]="searchSerialNoForm" (ngSubmit) = "onSearchClick()" fxLayoutAlign="center" fxLayoutGap="10px">         
                    <mat-form-field>
                        <input type="text" matInput placeholder="Serial Number" formControlName="serialno" required>
                    </mat-form-field>
                    
                    <div fxLayout="row" fxfill fxLayoutGap ="20px" fxLayoutAlign="space-evenly center">
                        <button mat-raised-button color="primary">Search</button>
                    </div>    
                </form>           
                </mat-card-content>                           
            
        </mat-card>
    </section>
    <section fxLayout fxFlex ="100%" fxLayoutAlign="center" *ngIf="showRejectForm" >   
        <mat-card fxLayout="column" fxLayoutAlign="center" fxFlex="500px">          
                <mat-card-content > 
                    <form  [formGroup]="rejectCylinderForm" (ngSubmit) = "onRejectSubmit()" fxLayout ="column" fxLayoutGap ="10px" fxLayoutAlign="center center">
                            <mat-form-field>
                                    <input 
                                        type="text" 
                                        matInput 
                                        placeholder="Batch Name"
                                        formControlName="batchname"                                       
                                        required>
                                    </mat-form-field>
                                    <mat-form-field>
                                    <input 
                                        type="text" 
                                        matInput 
                                        placeholder="Serial number"
                                        formControlName="serialnumber"               
                                        required>
                                    </mat-form-field>    
                                    <mat-form-field fxLayout="column">
                                      
                                        <mat-select formControlName="rejectiontype"  placeholder="Rejection Stage">
                                            <mat-option *ngFor="let rejection_type of rejection_types" [value]="rejection_type.value">
                                            {{rejection_type.viewValue}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field>
                                            <input 
                                                type="text" 
                                                matInput 
                                                placeholder="Reason"
                                                formControlName="comments"               
                                                required>
                                            </mat-form-field>    
                                    <div>
                                            <button mat-raised-button color="primary">Reject</button>        
                                    </div>
                            
                    </form>
                        
                
                </mat-card-content>                           
            
        </mat-card>
    </section>

   
</section>
         
                  
              
    
    
    

    <!--        


    <section id="reject-cylinders-form" fxFlex fxLayout="row" fxLayoutAlign="center center">        
        <form fxLayout ="column" fxLayoutGap ="10px" fxLayoutAlign="center center" [formGroup]="rejectCylindersForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <input type="text" matInput placeholder="Batch Name" formControlName="batchname" required>
            </mat-form-field>
            <mat-form-field>
                <input type="number" matInput placeholder="Serial number" formControlName="serial_number" required>
            </mat-form-field>

            <mat-form-field>
              
            </mat-form-field>

            <div fxLayout="row" fxfill fxLayoutGap ="20px" fxLayoutAlign="space-evenly center">
                <button mat-raised-button color="primary">Reject</button>
            </div>
        </form>   
    </section>    
</section>-->



