table {
    border-left: 1px solid #000;
    border-top: 1px solid #000;
}
#hst_reports th, #hst_reports td {
    color: #000;
    border-right:1px solid #000;
    border-bottom: 1px solid #000;  
    width: 70px;    
    padding: 0px 5px;    
}

#hst_reports th {
    font-weight: bold;    
}

#hst_reports tr {
    height: 20px
}